@import '../../variables';

.card {
  //position: relative;
  box-sizing: border-box;
  display: flex;
  margin: 60px auto;
  padding: 48px 36px;
  width: 100%;
  max-width: 400px;
  background-color: #FFFFFF;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.card__title {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
}

.card__forms {
  margin: 21px 0;
}

.card__label {
  display: grid;
  grid-template-rows: auto;
  font-size: 14px;
  row-gap: 6px;
  color: #262626;
}

.card__label:not(:last-child) {
  margin-bottom: 12px;
}

.card__input {
  font-family: Roboto, sans-serif;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
}

.card__inputWarning {
  font-family: Roboto, sans-serif;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid $error-color;
  box-sizing: border-box;
  border-radius: 4px;
}

.card__passwordRepeatWarning {
  font-family: Roboto, sans-serif;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid $error-color;
  box-sizing: border-box;
  border-radius: 4px;
}

.card__button {
  background-color: $primary-color;
  height: 40px;
  width: 100%;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card__button:active {
  transform: translateY(-8%) scale(1.02);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all .25s;
}

.warning {
  color: $error-color;
  transition: all .6s;
}

.warningMatchPassword {
  color: $error-color;
  transition: all .6s;
}

.card__checkbox {
  position: relative;
  margin: 21px 0;
  padding-top: 8px;
  padding-right: 32px;
  border-top: 1px solid #D9D9D9;
  display: flex;
  font-family: Roboto, sans-serif;
  color: #595959;;
  font-size: 14px;
  line-height: 20px;
  padding-left: 28px;
  cursor: pointer;
}

.checkmark {
  box-sizing: border-box;
  position: absolute;

  top: 11px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1.4px solid #1890FF;
  border-radius: 2px;
}

.card__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.card__checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.card__checkbox input:checked ~ .checkmark {
  background-color: #1890FF;
  border: none;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.card__checkbox input:checked ~ .checkmark:after {
  display: block;
}

.card__checkbox .checkmark:after {
  left: 7px;
  top: 1.8px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hideSpan {
  height: 0;
  opacity: 0;
  transition: all .6s;
}

.card__p {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  color: $text-color-secondary;
}

@media (max-width: 404px) {
  .card {
    width: 100%;
    padding: 48px 20px;
  }
}