@import '../../mixins';

.article {
  box-sizing: border-box;
  margin: 30px 0;
  position: relative;
  background-color: white;
  padding: 15px 14px 20px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  width: 100%;
  max-width: 942px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  max-width: 600px;
  word-break: break-word;

  h5 {
    margin-right: 14px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1890ff;
  }
}

.favorited {
  display: flex;
  align-self: center;
  margin-top: 4px;

  p {
    margin-top: 0.8px;
    font-size: 12px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.75);
  }
}

.tags {
  display: flex;
  padding: 0;
  margin-bottom: 6px;
}

.tag {
  @include reset-list;
  @include tag;
  border: 1px solid rgba(0, 0, 0, 0.5);

  a {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
  }
}

.firstTag {
  @include reset-list;
  @include tag;
  border: 1px solid rgba(0, 0, 0, 0.85);

  a {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
  }
}

.author {
  position: absolute;
  top: 15px;
  right: 14px;
}

.paragraph {
  display: flex;
  word-break: break-word;
  justify-content: space-between;
}

.description {
  width: 80%;
  font-family: Inter, sans-serif;
  line-height: 22px;
  word-break: break-word;

  @media (max-width: 782px) {
    width: 70%;
  }
}

.updateButtons {
}

.noFavorite {
  @include heart;
  background: url('../../img/heart.svg') no-repeat;
}

.favorite {
  @include heart;
  background: url('../../img/red_heart.svg') no-repeat;
}

.loader {
  padding: 160px;
  font-size: 56px;
  color: #7fb963;
}

.list {
  position: relative;
  display: flex;
  align-items: center;
}

.item {
  align-self: flex-start;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  //height: 32px;
  word-break: unset;
}

.editArticle {
  @include delete_edit_article;
  margin-left: 12px;
  border: 1px solid #52c41a;
  a {
    color: #52c41a;
  }
}

.deleteArticle {
  position: relative;
  @include delete_edit_article;
  border: 1px solid #f5222d;
  color: #f5222d;
}

.content {
  font-family: Inter, sans-serif;
  margin-top: 26px;
  font-size: 18px;
  line-height: 28px;
  word-break: break-word;
}

@media (max-width: 560px) {
  .list {
    margin-top: 0;
    flex-direction: column;
  }
  .deleteArticle {
    padding: 4px 12px;
    order: 2;
  }
  .editArticle {
    margin-bottom: 12px;
    padding: 4px 12px;
    align-self: center;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
}
