
.list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(320px, 942px);
  row-gap: 26px;
}

.loader {
  padding: 160px;
  font-size: 56px;
  color: #7fb963;
}