@import '../../variables';

.card {
  box-sizing: border-box;
  display: flex;
  margin: 60px auto;
  padding: 48px 36px;
  width: clamp(300px, 384px, 384px);
  min-width: 300px;
  background-color: #ffffff;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.card__forms {
  margin: 21px 0;
}

.card__formInput {
}

.card__title {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #262626;
}

.card__label {
  display: grid;
  grid-template-rows: auto;
  font-size: 14px;
  color: #262626;
}

.card__label:not(:last-child) {
  margin-bottom: 12px;
}

.card__input {
  font-family: Roboto, sans-serif;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 12px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}

.card__inputWarning {
  font-family: Roboto, sans-serif;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid $error-color;
  box-sizing: border-box;
  border-radius: 4px;
}

.card__button {
  background-color: $primary-color;
  height: 40px;
  width: 100%;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.card__button__disabled {
  background-color: $secondary-color;
  height: 40px;
  width: 100%;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.card__button:active {
  transform: translateY(-8%) scale(1.02);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.25s;
}

.warning {
  color: $error-color;
  transition: all 0.6s;
}

.hideSpan {
  height: 0;
  opacity: 0;
  transition: all 0.6s;
}
