@import '../../variables';
@import '../../mixins';

.bgWrapper {
  background-color: white;
  width: 100%;
  display: grid;
  place-items: center;
}

.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 16px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}

.logo {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 560px) {
  .header {
    padding: 8px 30px;
  }
}
