@import '../../mixins';

.item {
  box-sizing: border-box;
  position: relative;
  @include reset-list;
  background-color: white;
  padding: 15px 14px 20px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  min-width: 320px;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  h5 {
    margin-right: 14px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
  }
}

.favorited  {
  display: flex;
  align-self: flex-end;

  p{
    margin-top: .8px;
    font-size: 12px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.75);
  }
}

.tags {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  //margin-bottom: 6px;
  max-height: 60px;
  width: 65%;
}

.tag {
  @include reset-list;
  @include tag;
  border: 1px solid rgba(0, 0, 0, 0.5);
  // todo bottom
    margin-bottom: 8px;

  a {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
  }

}

.author {
  position: absolute;
  top: 15px;
  right: 14px;
}

.heart {
  @include heart;
  background: url('../../img/heart.svg') no-repeat;
}

.redHeart {
  @include heart;
  background: url('../../img/red_heart.svg') no-repeat;
}

.description {
  margin-top: 10px;
  font-family: Inter, sans-serif;
  line-height: 22px;
}

@media (max-width: 560px) {
  .tags {
    width: 100%;
  }
  .item {
    display: flex;
    flex-direction: column;
  }
}

