@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin tag {
  box-sizing: border-box;
  margin-right: 8px;
  border-radius: 2px;
  padding: 1px 5px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  height: 20px;
}

@mixin heart {
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

@mixin signUp_logOut {
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 5px;
}

@mixin delete_edit_article {
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

@mixin card_input_style {
  font-family: Roboto, sans-serif;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
}

@mixin active_button {
  transform: translateY(-8%) scale(1.02);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all .25s;
}







