@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin tag {
  box-sizing: border-box;
  margin-right: 8px;
  border-radius: 2px;
  padding: 1px 5px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  height: 20px;
}

@mixin heart {
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}







