//  COLORS
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);

$bg-color-base: #FFFFFF;
$primary-color: #1890FF;

$success-color: #52C41A;
$error-color: #F5222D;



