@import '../../mixins';

.author {
  position: absolute;
  top: 15px;
  right: 14px;
  display: flex;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);

  .username {
    word-break: break-word;
  }

  .created {
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    text-transform: none;
  }
}

.avatar {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  margin-left: 12px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .author{
    position: static;
  }
  .userData {
    margin-left: auto;
  }
}