.main {
  margin: 32px;
  border: 2px solid #cbcbcb;
  border-radius: 6px;
  padding: 32px;
  max-width: 942px;
  background-color: white;
  font-size: 32px;
  color: #757575;
  flex-direction: column;
  justify-content: space-between;
}
